<div fxLayoutAlign="center" fxFlexFill class="log-tlo">
  <mat-card fxFlex="100">
    <div fxLayoutAlign="center center" fxFlexFill class="log-karta">
      <mat-card fxFlex="60">
        <mat-card-header>
          <h3>
            Strona Startowa aplikacji obsługującej Twoją restaurację.
          </h3>
        </mat-card-header>

        <mat-card-content>
          <h3>
            <img class="obrazek" src="/assets/images/fork.png" width="55%" height="55%">
          </h3>
        </mat-card-content>

        <mat-card-footer>
          <div >
              <button class="przycisk1" mat-raised-button color="primary" routerLink="/logowanie">Logowanie</button>
          </div>
          <div >
            <button class="przycisk2" mat-raised-button color="primary" routerLink="/rejestracja">Rejestracja</button>
          </div>
        </mat-card-footer>

      </mat-card>
    </div>
  </mat-card>
</div>
