<nav>
  <mat-toolbar color="primary" class="tool">
    <span clas="menu">Menu</span>
    <button color="accent" mat-icon-button class="przycisk1" routerLink="/menu">
      <mat-icon>menu</mat-icon>
      Strona główna
    </button>
    <button mat-icon-button class="przycisk1" routerLink="/pracownicy">
      <mat-icon>people</mat-icon>
      Zlecenie
    </button>

    <button mat-icon-button class="przycisk1" routerLink="/o_prace">
      <mat-icon>people_outline</mat-icon>
      O pracę
    </button>

    <button mat-icon-button class="przycisk1" routerLink="/mapa">
      <mat-icon>public</mat-icon>
      Mapa
    </button>
    <button mat-icon-button class="przycisk1" routerLink="/magazyn">
      <mat-icon>store</mat-icon>
      Magazyn
    </button>
    <button mat-icon-button class="przycisk1" routerLink="/samochody">
      <mat-icon>directions_car</mat-icon>
      Pojazdy
    </button>
    <button mat-icon-button class="przycisk1" routerLink="/koszta" >
      <mat-icon>trending_up</mat-icon>
      Koszta
    </button>
    <button color="warn" mat-icon-button class="przycisk1" routerLink="">
      <mat-icon>power_settings_new</mat-icon>
      Wyloguj się
    </button>
  </mat-toolbar>
</nav>

